.node {
    width: 25px;
    height: 25px;
    outline: 1px solid #e2e2e2;
    margin-top: 1px;
    margin-left: 1px;
    cursor: pointer;
    user-select: none;
}

.node-start {
    background-image: url('./../../assets/location.svg');
    background-size: 20px;
    background-position: center;
    opacity: .8;
    background-repeat: no-repeat;
    animation: .2s node-start-finish-show ease-in-out forwards;
    z-index: 999;
}

.node-finish {
    background-image: url('./../../assets/flag.svg');
    opacity: .8;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    animation: .2s node-start-finish-show ease-in-out forwards;
}

.node-weight {
    background-image: url('./../../assets/weight.svg');
    opacity: .8;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    animation: .2s node-start-finish-show ease-in-out forwards;
}

.node-visited {
    animation: 1s node-visiting-show ease-in-out forwards;
}

.node-shortest-path {
    animation: 1s node-shortest-show ease-in-out forwards;
}

.node-wall {
    outline-color: #333333;
    animation: .5s node-wall-show ease-in-out forwards;
}

@keyframes node-visiting-show {
    0% {
        transform: scale(0.6);
        background-color: #344a86;
       }
    
      75% {
        transform: scale(1.2);
        background-color: #4fccb9;
      }
    
      100% {
        transform: scale(1);
        background-color: #03DAC5;
        
      }
}

@keyframes node-shortest-show {
    0% {
        transform: scale(1);
        background-color: #ffff16;
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        background-color: #ffff16;
    }
}

@keyframes node-wall-show {
    0% {
        transform: scale(.6);
        background: #333333;
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        background: #333333;
    }
}

@keyframes node-start-finish-show {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}