.sidebar {
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(255, 255, 255, 0.97);
    position: absolute;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all .2s ease-out;
    z-index: 9999;
}

.sidebar .expand-icon {
    cursor: pointer;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.sidebar-close {
    width: 80px;
}

.sidebar-header {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
}

.header-small {
    margin-top: 0;
}

.sidebar h3 {
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
}

.sidebar .startIcon {
    margin: 2rem 0;
    font-size: 2.5rem;
    color: var(--color-primary);
    opacity: .87;
    cursor: pointer;
    transition: all .1s ease-out;
}

.sidebar .fa-play:hover {
    transform: scale(1.1);
}

.sidebar__dropdowns {
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    padding-right: 5px;
    flex-direction: column;
    min-height: 50vh;
    max-height: 70vh;
}

.dropdowns-container-small {
    padding-right: 0;
}

.sidebar-dropdowns-container {
    margin: auto 0;
}

.sidebar-footer {
    display: flex;
    width: 100%;
    margin-top: auto;
    justify-content: space-between;
}

.footer-small {
    justify-content: center;
}

.sidebar-footer i {
    font-size: 2rem;
    color: var(--color-primary);
    cursor: pointer;
    transition: all .1s ease-out;
}

.sidebar-footer i:hover {
    transform: scale(1.1);
}