@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #222222;
}

body {
    /* background: #2B3C52; */
}

/* DARK THEME

background: #2B3C52 
outline: #212f3a
visited: #1E9C5F
*/